.wrap {
  position: relative;
  height: 302px;
}

.cover {
  width: 100%;
  position: absolute;
  height: 302px;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background: rgb(248 248 248);
  border-radius: 20px;
  border: 1px dashed rgb(225, 225, 227);
}

.video {
  height: 302px;
  visibility: hidden;
  width: 100%;
}

.video_button {
  position: absolute;
  right: 10px;
  background: #ccc;
  color: #fff;
  padding: 5px;
  bottom: 0;
  border-radius: 4px;
}

.delete_button {
  bottom: 30px;
}

.video_title {
  width: calc(100% - 10px);
  margin: 20px 0;
  height: 35px;
  border: 1px #f8f8f8 solid;
  border-radius: 5px;
}
