.wrap {
  border-radius: 20px;
  border: 1px dashed rgb(225, 225, 227);
  height: 300px;
  display: block;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #f8f8f8;
  }
}

.hide_input {
  display: none;
}

.fake_button {
  background: rgb(182 231 123);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;

  &:hover {
    background: rgb(188 229 137);
  }
}

.description {
  margin-top: 27px;
}

.language_wrap {
  margin: 20px 0;
}

.language_list {
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;

  & li {
    background-color: rgb(182, 231, 123);
    padding: 5px;
  }

  & input {
    vertical-align: bottom;
  }
}
