.wrap {
  border-radius: 20px;
  border: 1px dashed rgb(225, 225, 227);
  height: 300px;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 300px;
  &:hover {
    background: #f8f8f8;
  }
}

.hide_input {
  display: none;
}

.fake_button {
  background: rgb(182 231 123);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;

  &:hover {
    background: rgb(188 229 137);
  }
}
