.wrap {
  position: relative;
  height: 302px;
}

.cover {
  width: 100%;
  position: absolute;
  height: 302px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(248 248 248);
  border-radius: 20px;
  border: 1px dashed rgb(225, 225, 227);
}

.video {
  height: 302px;
  visibility: hidden;
  width: 100%;
}
